{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type='submit' class="btn btn-success">Salvar</button>
        {% if object %}
            <button onclick="utilizouHoraExtra({{object.id}}, {{ object.funcionario.id }})" class="btn btn-info" type="button">Marcar como utilizado</button>
            <button onclick="naoUtilizouHoraExtra({{object.id}}, {{ object.funcionario.id }})" class="btn btn-info" type="button">Marcar como não utilizado</button>
        {% endif %}
    </form>

    <h2 id="horas_atualizadas">{{ object.funcionario.total_horas_extra }}</h2>

    <p id="mensagem"></p>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>
{% endblock scripts %}

