{% extends 'base.html' %}

{% block main %}
    {% for registro_rh in object_list %}
        <a href="{% url 'edit_hora_extra_base' registro_rh.id %}">{{ registro_rh }}</a>
        <a href="{% url 'delete_hora_extra' registro_rh.id %}">Deletar</a>
        <br>
    {% empty %}
        <h3>Não existem registros de hora extra no banco de dados</h3>
    {% endfor %}

    <a href="{% url 'create_hora_extra' %}">Novo</a>
    <a href="{% url 'esportar_csv' %}">Exportar CSV</a>
    <a href="{% url 'esportar_excel' %}">Exportar Excel</a>
{% endblock main %}