{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type='submit' class="btn btn-success">Salvar</button>
    </form>

    {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn-info mt-2">Adicionar documento</a>
    {% endif %}

    {% for documento in object.documento_set.all %}
        <br> <a href="{{ documento.arquivo.url }}">{{ documento }}</a>
    {% endfor %}
{% endblock main %}

